
html {
    font-family: 'Montserrat', Courier, monospace;
}

body {
    overflow-x: hidden;
    margin: 0;
}


h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 30px;
}

.top{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;

}

p {
    margin: 5px;
    font-weight: 700;
    font-size: 25px;
    text-align: left;
    display: inline-block;
}


#box {
    margin: auto;
    border: none;
    border-radius: 2rem;
    max-width: 1300px;
}

#current {
    position: relative;
    top: 20px;
}

.tday {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.mac {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    margin: 20px;
    padding: 0;
    margin-left: 180px;
}

#lable {
    display: inline;
}

#g {
    display: inline;
}

#week {
    width: 86.5%;
    float: right;
    display: inline;
}

.cal {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    display: inline-block;
    margin: 20px;
    padding: 0;
    margin-left: 150px;
}

.goals {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    margin: 20px;
    padding: 0;
    margin-left: 180px;
    margin-right: 5px;
}

.cgoals {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    margin: 20px;
    padding: 0;
    margin-left: 160px;
}

.w {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    margin: 20px;
    padding: 0;
    margin-right: 165px;
}

.cw {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    margin: 20px;
    padding: 0;
    margin-left: 0px;
}

#date {
    width: 10;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

.d {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    padding: 0;
    margin-left: 0px;
    margin-bottom: 39px;
}



.history {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: large;
    border-bottom: 1px solid black;
    background-color: #D9D9D9;
}

table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #D9D9D9;
    border-style: solid;
    color: #000000;
}

table.GeneratedTable td,
table.GeneratedTable th {
    border-width: 2px;
    border-color: #D9D9D9;
    border-style: solid;
    padding: 3px;
}

table.GeneratedTable th {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

table.GeneratedTable thead {
    background-color: #D9D9D9;
}

td.tableId{
    display: none;
    
}
