@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

html{
    font-family: 'Montserrat', Courier, monospace;
}


h1{
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
}


#trackForm {
    margin: auto;
    border: none;
    border-radius: 2rem;
    max-width: 999px;
    height: 700px;
    background: #D9D9D9;
    
}

label{
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
}

.dateIn {
    text-align: center;
}

.dateIn input{
    width: 15%;
    padding: 12px 10px;
    box-sizing: border-box;
    border-radius: .7em;
    border: none;
    margin: 40px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
}

.meals {
    text-align: center;
}

.meals button{
    display: inline-block;
    background: white;
    color: black;
    font-size: 15px;
}

.meals button:hover{
    background: #0658d3;
    color: white;
}

.meals button:active{
    color: white;
    background: #0D6EFD;
}

.cal {
    float: left;
}

.cal label{
    display:block;
    margin-left: 220px;
    margin-top: 90px;
    width: 50px;
}

.cal input{
    padding: 50px 110px;
    box-sizing:content-box;
    border-radius: .5em;
    border: none;
    margin: 40px;
    margin-top: 20px;
    margin-left: 190px;
    margin-right: 80px;
    font-size: 40px;
    padding: 10px 10px;
    height: 80px;
    width: 170px;
    text-align: center;
}

.carb {
    float: right;
    margin-top: 60px;
    margin-right: 121px;
}

.carb input{
    padding: 1px 1px;
    box-sizing:content-box;
    border-radius: .5em;
    border: none;
    margin: 20px;
    margin-left: 48px;
    width: 100px;
    height: 35px;
    font-size: 20px;
    text-align: center;
}

.pro {
    float: right;
    margin-top: 20px;
    margin-right: 123px;
}

.pro input{
    padding: 1px 1px;
    box-sizing:content-box;
    border-radius: .5em;
    border: none;
    margin: 20px;
    width: 100px;
    height: 35px;
    font-size: 20px;
    text-align: center;
}

.fat {
    float: right;
    margin-top: 20px;
    margin-right: 123px;
}

.fat input{
    padding: 1px 1px;
    box-sizing:content-box;
    border-radius: .5em;
    border: none;
    margin: 20px;
    margin-left: 67px;
    width: 100px;
    height: 35px;
    font-size: 20px;
    text-align: center;
}

.sub {
    position: relative;
    top: 90px;
    left: 400px;
}

  

button{
    border: none;
    color: white;
    text-align: center;
    background: #0D6EFD;
    padding: 1em 5em;
    border-radius: .4em;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 15px;
    
}
button:hover{
    background: #0658d3;
}

form div{
    padding: 0;
    margin: 4px;
}
