html{
    font-family: 'Montserrat', Courier, monospace;
}


.userInfo label{
    display: none;
}

h1{
    text-align: center;
    font-weight: 700;
    font-size: 7rem;
}
h2{
    font-weight: 400;
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 0;
}

h3{
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    width: 400px;
    height: 400px;
}

#name {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

#loginForm {
    margin: auto;
    border: none;
    border-radius: 1rem;
    text-align: center;
    max-width: 50%;
    background: #D9D9D9;
    
}

.userInfo input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: .6em;
    border: none;
}
button{
    border: none;
    color: white;
    text-align: center;
    background: #0D6EFD;
    padding: 1em 5em;
    border-radius: .4em;
    cursor: pointer;
    
}
button:hover{
    background: #0658d3;
}

form div{
    padding: 0;
    margin: 40px;
}


footer{
    font-size: small;
    padding: 10px;
}