html{
    font-family: 'Montserrat', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
}

.userInfo label{
    display: none;
}

.con{
    display: flex;
    flex-direction: row;
    width: 100%;
}

h1{
    text-align: center;
    font-weight: 700;
    font-size: 7rem;
}
h2{
    font-weight: 400;
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 0;
}

h3{
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
}


img {
    width: 400px;
    height: 400px;
}

#name {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

#loginForm {
    margin: auto;
    border: none;
    border-radius: 1rem;
    text-align: center;
    width: 25%;
    background: #D9D9D9;
    
}

.userInfo input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: .6em;
    border: none;
}
button{
    border: none;
    color: white;
    text-align: center;
    background: #0D6EFD;
    padding: 1em 5em;
    border-radius: .4em;
    cursor: pointer;
    
}
button:hover{
    background: #0658d3;
}

form div{
    padding: 0;
    margin: 40px;
}


footer{
    font-size: small;
    padding: 10px;
}

.error-msg {
    display: none;
    margin: 10px 0;
    margin-bottom: 0px;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    font-size: .8em;
 }
 
 
  .error-msg {
    color: #D8000C;
    background-color: #FFBABA;
  }


@media (max-width: 700px) {
   .con{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 1;
   }
    h1{
        text-align: center;
        font-weight: 700;
        margin-top: 50px;
        font-size: 6rem;
        margin-bottom: 0px;
    }

    h3{
        margin-top: 0px;
        text-align: center;
        font-weight: 200;
        font-size: 2rem;
    }

    #loginForm{
        width: 70%;
        margin-bottom: 15px;
    }

    img {
        width: 240px;
        height: 240px;
        margin-bottom: 15px;
        margin-left: 60px;
    }

}